@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
*{
    color: white;
}
.App{
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Menu, .Quiz, .EndScreen {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu button, .Quiz button, .EndScreen button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: .3s;
}

.Menu button:hover, .Quiz button:hover, .EndScreen button:hover{
    font-size: 25px;
}

.Menu button:focus, .Quiz button:focus, .EndScreen button:focus{
    background-color: skyblue;
}

#finishBtn:focus, #nextBtn:focus{
    background-color: white;
}


.Menu, .Quiz, .EndScreen {
    color: white;
}

.options {
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.good, .bad{
    border-radius: 50%;
    animation-name: cool;
    animation-duration: 1.5s;
    height: 200px;
    width: 200px;
}

.bad{
    height: 250px;
    width: 250px;
}

@keyframes cool{
    from{
        transform:scale(0,0)
    }
    to{
        transform:scale(1,1)
    }
}
